*.iml
.gradle
/local.properties
/.idea/caches
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle
app/src/resources/
app/src/assets/
/app/release/
/app/src/main/resources/
/app/src/main/assets/
/app/debug/
